<!DOCTYPE html>
<html lang="en">
<head>
     {% load staticfiles %}
  <title>PROFILE</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "home.css" %}">
  <link rel="stylesheet" href="{% static "search_widget.css" %}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

<nav class="navbar navbar-fixed-top navbar-expand-sm bg-dark navbar-dark ">
  <!-- Brand -->
  <a class="navbar-brand" href="#">
<img src="{% static "picture1.png" %}" alt="Logo" style="width:80px;">
  </a>

  <form class="form-inline " autocomplete="off" action="/action_page.php">
    <div class="autocomplete" style="width:300px;">
      <input class="form-control mr-sm-2" id="search_widget" type="text" placeholder="Search">
      <!--<button class="btn btn-success" type="submit" style="background-color: grey;border: none;";>Search</button>-->
    </div>
    </form>
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}" style="">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'networks' %}">My Networks</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'jobs' %}">Jobs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="messaging.html">Messaging</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Notifications</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Me
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'user_profile' %}">View Profile</a>
        <a class="dropdown-item" href="#">Language</a>
        <a class="dropdown-item" href="#">Need Help?</a>
        <a class="dropdown-item" href="#">Posts & Activity</a>
        <a class="dropdown-item" href="#">Job Posting</a>
         <a class="dropdown-item" href="javascript:{document.getElementById('logout').submit()}">Sign out</a>
          <form id="logout" method="POST" action="{% url 'logout' %}" >
              {% csrf_token %}
              <input type="hidden" />
          </form>
      </div>
    </li>
  </ul>
</nav>
<br><br><br>

<div class="row">
        <!--left Colunm -->

  <div class="col-sm-9">
    <div class="container" align="center">

    <div class="jumbotron">
      <div class="container" align="center">
        <img src="{% static "picture2.jpg" %}" class="img-circle" alt="profile image" width="240" height="160">
        <p style= "font-size: 150%;"> <b>{{ user.first_name }} {{ user.last_name }}</b></p>
        {% for e in userEducation %}
         Student at {{ e.school }}
        <br>
        {% endfor %}
        <hr>
        <a   href="#" role="button" >See Connections</a>
        <br>
        <a href="#" role="button" >See Contacts info</a>
     </div>
    </div>
  <br>

  <div class="jumbotron">
    <div class="row">
      <div class="col-sm-9">
   <h1>Education</h1>
        {% for e in userEducation %}
        <li>
        <td><b> {{ e.school }} </b> </td>
        <br>
        <td> {{ e.degree }} in {{ e.field_of_study }} </td>
        <br>
        <td> {{ e.from_Year }} </td>
        <br>
        </li>

        {% endfor %}
  </div>
<div class="col-sm-3">
  <br>
  <a   href="{% url 'education_form' %}" role="button" class="btn btn-primary" >Update</a>
</div>
</div>
</div>
<br>

<div class="jumbotron">
  <div class="row">
    <div class="col-sm-9">
      <h1 >Skills </h1>
      {% for s in UserSkill %}
      <li>
        <td> {{ s.skill }} </td>
      </li>
      {% endfor %}

     </div>

<div class="col-sm-3">
  <br>
  <a   href="{% url 'skill_form'%}" role="button" class="btn btn-primary" >Update</a>
</div>

  </div>
</div>


<div class="jumbotron">
  <div class="row">
    <div class="col-sm-9">
      <h1 >Interests </h1>
      {% for s in UserInterest %}
      <li>
        <td> {{ s.Interest }} </td>
      </li>
      {% endfor %}

     </div>

<div class="col-sm-3">
  <br>
  <a   href="{% url 'interest_form'%}" role="button" class="btn btn-primary" >Update</a>
</div>

  </div>
</div>


<div class="jumbotron">
  <div class="row">
    <div class="col-sm-9">
      <h1> Experience </h1>
      {% for s in UserExperience %}
      <li>
        <td> {{ s.Experience }} </td>
      </li>
      {% endfor %}

     </div>

<div class="col-sm-3">
  <br>
  <a   href="{% url 'experience_form'%}" role="button" class="btn btn-primary" >Update</a>
</div>

  </div>
</div>






  </div>
</div>


  <!-- Right cloumn -->
  <div class="col-sm-3">
    <div class="container" align="center">
      <div class="jumbotron" >
      <a href="login.html"><img src="{% static "image3.jpg" %}" class="img-thumbnail" width="350" height="250"></a>
        <hr>
        <a href="#" role="button">About</a>
        <br>
        <a href="#" role="button" >Help Center</a>
        <br>
        <a href="#" role="button" >Privacy & Terms</a>
      </div>
  </div>
  </div>
</div>

<script src="{% static "search_widget.js" %}"></script>

</body>
</html>
